<%-- Groups List --%>

<table class="back-table" border="0" cellspacing="0" cellpadding="1"
       width="100%"><tr><td> 

  <table class="front-table" border="1"
   cellspacing="0" cellpadding="0" width="100%">
    <tr class="header-row">
      <logic:present name="checkboxes">
        <td width="5%"><div align="left" class="table-header-text">
          &nbsp;
        </td>
      </logic:present>
      <td width="20%"><div align="left" class="table-header-text">
        <bean:message key="users.list.groupname"/>
      </div></td>
      <td><div align="left" class="table-header-text">
        <bean:message key="users.list.description"/>
      </div></td>
    </tr>
    <logic:iterate name="groupsForm" property="groups"
                     id="group" type="java.lang.String">
      <tr class="line-row">
        <logic:present name="checkboxes">
          <td><div align="center" class="table-normal-text">
            <logic:present name="userForm">
             <label for="groups"></label>
              <html:multibox property="groups" value="<%= group %>" styleId="groups"/>
            </logic:present>
            <logic:notPresent name="userForm">
              <label for="groups"></label>
              <input type="checkbox" name="groups"
                    value="<%= group %>" styleId="groups">
            </logic:notPresent>
          </td>
        </logic:present>
        <td><div align="left" class="table-normal-text">&nbsp;
          <html:link page='<%= "/users/setUpGroup.do?objectName=" + 
                               URLEncoder.encode(group) +
                               "&databaseName=" +
                               URLEncoder.encode(request.getParameter("databaseName")) %>'>
            <controls:attribute name="group" attribute="groupname"/>
          </html:link>
        </div></td>
        <td><div align="left" class="table-normal-text">&nbsp;
          <controls:attribute name="group" attribute="description"/>
        </div></td>
      </tr>
    </logic:iterate>
  </table>

</td></tr></table>
